apiVersion: kustomize.toolkit.fluxcd.io/v1beta1
kind: Kustomization
metadata:
  name: podinfo
  namespace: flux-apps
spec:
  interval: 5m0s
  path: ./manifests/podinfo/staging
  prune: true
  sourceRef:
    kind: GitRepository
    name: podinfo
