#!/bin/bash

TIME=$(date +%Y%m%d-%H%M%S)
set -ax

ETCD_BACKUP_DIR="{{ etcd_backup_dir }}/data"
mkdir -p "$ETCD_BACKUP_DIR"

source /etc/etcd.env
etcdctl snapshot save "$ETCD_BACKUP_DIR/snapshot-$HOSTNAME-$TIME.db"
tar czvf "$ETCD_BACKUP_DIR/etc-kubernetes-$HOSTNAME-$TIME.tar.gz" /etc/kubernetes/
tar czvf "$ETCD_BACKUP_DIR/var-lib-kubelet-$HOSTNAME-$TIME.tar.gz" --exclude=/var/lib/kubelet/pods /var/lib/kubelet
{% if etcd_backup_s3_bucket is defined and etcd_backup_s3_bucket %}
AWS_ACCESS_KEY_ID="{{ etcd_backup_aws_access_key_id }}" \
AWS_SECRET_ACCESS_KEY="{{ etcd_backup_aws_secret_access_key }}" \
  aws s3 sync "$ETCD_BACKUP_DIR/" s3://{{ etcd_backup_s3_bucket }}/
{% endif %}
find $ETCD_BACKUP_DIR -type f -mtime +{{ etcd_backup_retention_days }} -print -delete
