apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base/
- https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml

patchesStrategicMerge: []
