apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csr-auto-approver
  namespace: flux-system
spec:
  chart:
    spec:
      chart: csr-auto-approver
      sourceRef:
        kind: HelmRepository
        name: getupcloud
      version: "~> 1"
  dependsOn: []
  install:
    createNamespace: false
    disableWait: false
    remediation:
      retries: -1
  upgrade:
    remediation:
      retries: -1
  interval: 5m
  releaseName: csr-auto-approver
  storageNamespace: kube-system
  targetNamespace: kube-system
  values:
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
            - key: node-role.kubernetes.io/infra
              operator: Exists
    tolerations:
    - effect: NoSchedule
      operator: Exists
    image:
      repository: ghcr.io/getupcloud/kubectl
      pullPolicy: IfNotPresent
      tag: "1.33.3"
