apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: flux-system
spec:
  values:
    controller:
      replicaCount: 1
      autoscaling:
        enabled: false
      metrics:
        enabled: true

      service:
        type: NodePort
        nodePorts:
          http: 32080
          https: 32443
