apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cluster-autoscaler
  namespace: flux-system
spec:
  chart:
    spec:
      chart: cluster-autoscaler-chart
      sourceRef:
        kind: HelmRepository
        name: autoscaler
      version: "~> 1.0.3"
  dependsOn: []
  install:
    createNamespace: false
    disableWait: false
    remediation:
      retries: -1
  interval: 5m
  releaseName: cluster-autoscaler
  storageNamespace: kube-system
  targetNamespace: kube-system
  values:
    tolerations:
    - effect: NoSchedule
      operator: Exists

    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          preference:
            matchExpressions:
            - key: role
              operator: In
              values:
              - infra

    serviceMonitor:
      enabled: true
      interval: "30s"
